[submodule "C-Programming-Language"]
	path = C-Programming-Language
	url = https://github.com/Fern-Aerell/LAU-C-Programming-Language.git
[submodule "Assembly-Programming-Language"]
	path = Assembly-Programming-Language
	url = https://github.com/Fern-Aerell/LAU-Assembly-Programming-Language.git
